PHP Calendar StyleSheet*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 3px 0 0 15px;
	padding: 0;
  color: #000000;
}
a {
  color: #0000FF;
  text-decoration: none;
}
a:hover {
  color: #0066FF;
  text-decoration: underline;
}
img {
	border: 0px;
	width: 24px;
	height: 24px;
}
.month_title {
  text-align: center;
  font-weight:bold;
  width: 149px;
  margin: 1px 2px;
  padding: 1px 0;
  border: 1px solid #333333;
  background: #ecfbec;
}
.month_name {
  float: left;
  width: 109px;
}
.month_move {
  float: left;
  width: 20px;
}
.week_day {
	float: left;
	width: 20px;
	margin: 1px;
	font-size: 10px;
	background-color: #666666;
	color: #FFFFFF;
	text-align: center;
	padding: 1px 0;
	font-weight: bold;
}

.no_day {
  float:left;
  width: 22px;
  height: 22px;
}

.day, .day_today {
	font-size: 11px;
  float:left;
  width: 18px;
  height: 18px;
  border: 1px solid #999999;
  background-color: #EEEEEE;
  margin: 1px;
  padding: 1px 0 0 0;
  font-family: Arial;
  text-align: center;
}
.day_today {
	background-color: silver;
	font-weight: bold;
}
.r {
	border: 0 none;
	margin: 0;
	padding: 0;
	clear: both;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0; 
}
